html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video {
	margin: 0;
	padding: 0
}
fieldset,img {
	border: 0
}
address,caption,cite,code,dfn,em,th,var,optgroup {
	font-style: normal;
	font-weight: 400
}
ins {
	text-decoration: none
}
li {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: inherit;
	font: 100%
}
caption,th {
	text-align: left
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}
abbr,acronym {
	border: 0;
	font-variant: normal
}
legend {
	color: #000
}
input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit
}
input,button,textarea,select {
	*font-size: 100%;
	line-height: 1.2;
	margin: 0
}
q:before,q:after {
	content: ''
}
a img,img {
	-ms-interpolation-mode: bicubic;
}
a,img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
a{
	text-decoration:none;
}
sub,sup {
	vertical-align: baseline
}
article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote {
	display: block
}
b{
	font-weight: normal;
}
.clearfix {
	zoom: 1
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden
}
a,button,input {
	-webkit-tap-highlight-color: rgba(0,0,0,.05)
}
body {
	background: #ebeff2;
	font: 14px/1"Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei","tahoma","sans-serif";
	font-size: 18px;

}
/*正文*/
/*.sc-wrap .hd{
	 height:44px;
	 line-height: 44px;

	 color:#FFF;
	 text-align: center;
	 background-color:#20222e;
}
.sc-wrap .tips{
	height:30px;
	line-height: 30px;
	padding-left: 15px;
	background-color:#ebeff2;
	border-bottom:1px solid #dfe2e6;
}
.sc-wrap .tips .error{
	display: none;
	font-size: 14px;
	color:#ff2a00;
}
.sc-wrap .tips .error .ico{
	width:16px;
	height:16px;
	display: inline-block;
	vertical-align: -3px;
	margin-right: 5px;
	background-image:url(../img/icon.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size:16px auto;
}
.sc-wrap .bd{
	background-color:#FFF;
	border-bottom: 15px solid #ebeff2;
}
.sc-wrap .bd .line{
	height:50px;
	line-height: 50px;
	background-color: #FFF;
	border-bottom: 1px solid #dfe2e6;
	color:#20222e;
	padding:0 30px;
}
.sc-wrap .bd .line .label{
	color:#adb0b2;
	margin-right: 8px;
}
.sc-wrap .sm{
	height:50px;
	line-height: 50px;
}
.sc-wrap .sm .btn{
	display: block;
	text-align: center;
	width:100%;
	height:100%;
	background-color:#05b3d5;
	color:#FFF;
	text-decoration: none;
}
.sc-wrap .sm .btn:active{
	background-color:#009fbf;
}*/

/*微信检测*/

#weinxin_tip{
	display: none;
	width:95%;
	position: fixed;
	left:2%;
	background-color: #FFF;
	border-radius: 0 0 5px 5px;
	z-index: 101;
}
#weinxin_tip .txt{
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	width:90%;
	margin: 10px auto;
}
#weinxin_tip .txt b{
	color:#ff4400;
	margin: 0 5px;
}
#weinxin_tip .ico{
	width:30px;
	height:30px;
	position: absolute;
	top:5px;
	right:10px;
	background-image: url(../img/weixin_tip.png);
	background-size: 30px auto;
}
.tips-mask{
	position: fixed;
	display: none;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.4);
	z-index: 100;
}
